.container {
	z-index: -10;
	background-image: url("../../images/mainwall.jpg");
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-field,
select {
	width: 100%;
	padding: 15px 20px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
}

.inputField::placeholder {
	font-family: Lato, Times, serif;
}

.form-button {
	font-family: inherit;
	width: 100%;
	background-color: var(--main-color);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #182749;
}

.form-border {
	border-radius: wpx;
	background-color: #f2f2f2;
	padding: 20px;
	max-width: 30em;
}

.title {
	margin-top: 0;
	margin-bottom: 15px;
	font-family: Lora, Times, serif;
	font-size: 50px;
	text-align: center;
	color: var(--main-color);
}

.subtitle {
	margin-top: 0px;
	text-align: center;
	opacity: 0.6;
}

.form-link {
	text-align: center;
	margin: 0;
	margin-top: 15px;
}
