.link {
	color: white;
	text-decoration: none;
	/* border-style: dashed; */
	padding-left: 10px;
	padding-right: 10px;
}

li {
	list-style: none;
}

.nav-container {
	background-color: var(--main-color);
	min-height: 100%;
	padding: 5px;
}
